
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            <p>
                <table>
                    <tr><td>Title: </td><td>@Html.TextBox("txtSearch")</td></tr>
                    
                    <tr>
                      <td>Sort by: </td>
                      <td>
                          @Html.DropDownList("orderBy", "None")

                      </td>
                    </tr>
                    <tr><td colspan="2"><input type="submit" value="Update feed" /></td></tr>
                </table>
            </p>
        }

        <div>
            @foreach (NoZebraFlickrAPI.FlickrItem item in ViewBag.flickrFeed)
            {
                <div style="border: 1px solid black; width: 300px; float: left; height: 350px; margin: 10px; overflow: hidden;">
                    <div>
                        <div style="border: 1px solid black; text-align: right;">@Html.DisplayFor(modelItem => item.Published)</div>
                        <div style="height: 40px; overflow:hidden;">@Html.DisplayFor(modelItem => item.Title)</div>
                    </div>
                    <div>
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="@Html.DisplayFor(modelItem => item.Title)" style="display:block; max-height: 400px; max-width: 300px;">
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
