@model PagedList.IPagedList<NoZebraFlickrAPI.FlickrItem>
@using PagedList.Mvc;
<div>
    @foreach (var item in Model)
    {
        <div class="flickrItem">
            <div>
                <div class="flickrItemPublished">@Html.DisplayFor(modelItem => item.Published)</div>
                <div class="flickrItemTitle">@Html.DisplayFor(modelItem => item.Title)</div>
            </div>
            <div>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="@Html.DisplayFor(modelItem => item.Title)" class="flickrItemPicture">
            </div>
        </div>
    }
</div>
<div style="clear: both"></div>
<hr />
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, orderBy = ViewBag.CurrentSort, txtSearch = ViewBag.CurrentFilter }))
</div>